<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Team Project</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <div class="wrapper">  
  <nav class="navbar navbar-default wrapper">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">Traffic Violations</p>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/">HOME</a></li>
              <li id="contact"><a href="contact">CONTACT US</a></li>
              <li id="lookup"><a href="lookup">LOOKUP</a>
              <li id="employees"><a href="employees">EMPLOYEES</a>
              </li>
            </ul>
        </div>
      </nav>
  </div>

</div>
</head>

<body>
    <div class="container">