<%- include("partials/header"); -%>



<!-- Start   [ site-content ] -->
<div id="home">
</div>

<div id="about">
    <div id="about_us_content">
        <div id="about_us_title">
            <h3><br><br></h3>
        </div>
    
        <div id="about_us_main">
            <center><p><b>WELCOME</b></p>

                <p>To search for view your vehicle infractions please visit the LOOKUP link at the top of the page.</p>
            </p></center>
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>
